vim/.vim/bundle/CamelCaseMotion/
vim/.vim/bundle/Colorizer/
vim/.vim/bundle/The-NERD-tree/
vim/.vim/bundle/ack.vim/
vim/.vim/bundle/jellybeans.vim/
vim/.vim/bundle/pep8/
vim/.vim/bundle/pydoc.vim/
vim/.vim/bundle/python-syntax/
vim/.vim/bundle/syntastic/
vim/.vim/bundle/tlib/
vim/.vim/bundle/vim-addon-mw-utils/
vim/.vim/bundle/vim-argumentative/
vim/.vim/bundle/vim-colorblind-colorscheme/
vim/.vim/bundle/vim-colors-solarized/
vim/.vim/bundle/vim-commentary/
vim/.vim/bundle/vim-distinguished/
vim/.vim/bundle/vim-fugitive/
vim/.vim/bundle/vim-git/
vim/.vim/bundle/vim-repeat/
vim/.vim/bundle/vim-snipmate/
vim/.vim/bundle/vim-surround/
vim/.vim/bundle/vim-vinegar/
vim/.vim/bundle/vim-vividchalk/
vim/.vim/bundle/Vundle.vim
vim/.vim/bundle/*
.gitignore
*.swp
*.swo
